.containerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  margin-bottom: 5x;
  padding-bottom: 10px;
  width: 100%;

  h2 {
    color: #777777;
  }
}

.containerData {
  display: flex;
  justify-content: space-between;
}

.dataPelanggan {
  border-collapse: collapse;
  width: 50%;
}

.dataPelanggan th,
.dataPelanggan td {
  padding: 5px;
}

.dataPelanggan th {
  width: 25%;
  text-align: left;
  background-color: rgb(132, 200, 255);
  border: 3px solid #ffffff;
}
.dataPelanggan td {
  text-align: left;
  background-color: rgb(221, 237, 255);
  border: 3px solid #ffffff;
}

.dataDate {
  width: 40%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  text-align: start;
}

.containerTable {
  border-top: 2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: end;

  .containerDate {
    display: flex;
    gap: 10px;
  }
}

h3 {
  color: rgb(145, 145, 145);
}

.tableContainer {
  overflow-x: auto;
}

.containerApexChart {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.chartDonut {
  flex: 0 0 calc(49% - 5px);
  border-radius: 5px;
  padding: 15px 0;
  background-color: #f7f6f6;
  text-align: center;

  // box-shadow: 0px 0px 5px 1px rgba(80, 80, 80, 0.38);
  // -webkit-box-shadow: 0px 0px 5px 1px rgba(80, 80, 80, 0.38);
  // -moz-box-shadow: 0px 0px 5px 1px rgba(80, 80, 80, 0.38);
}

.apexcharts-menu-icon {
  display: none;
}

.chartBar {
  padding: 25px;
  background-color: #f7f6f6;
  border-radius: 5px;
  text-align: center;
}

// responsive

@media screen and (max-width: 850px) {
  .containerData {
    flex-direction: column;
  }

  .dataDate,
  .dataPelanggan {
    width: 100%;
  }

  .tableContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
