.containerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  margin-bottom: 5x;
  padding-bottom: 10px;
  width: 100%;

  h2 {
    color: #777777;
  }
}

.containerData {
  display: flex;
  justify-content: space-between;
}

.dataPelanggan {
  border-collapse: collapse;
  width: 50%;
}

.dataPelanggan th,
.dataPelanggan td {
  padding: 5px;
}

.dataPelanggan th {
  width: 25%;
  text-align: left;
  background-color: rgb(132, 200, 255);
  border: 3px solid #ffffff;
}
.dataPelanggan td {
  text-align: left;
  background-color: rgb(221, 237, 255);
  border: 3px solid #ffffff;
}

.dataDate {
  width: 30%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  text-align: start;
}

.containerTable {
  border-top: 2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .containerDownloads {
    display: flex;
    gap: 10px;
  }
}
.containerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerDate {
  display: flex;
  gap: 10px;
}

h3 {
  color: rgb(145, 145, 145);
}

.tableContainer {
  overflow-x: auto;
}

.containerChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chartTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px 0 15px;
}

.chartBottom {
  width: 60%;
  text-align: center;
}

.containerDonut {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f7f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerDonut3 {
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f7f6f6;
  text-align: center;
}

.chartDonut3 {
  margin: 0 auto;
}

.apexcharts-menu-icon {
  display: none;
}

.chartBar {
  padding: 25px;
  background-color: #f7f6f69c;
  border-radius: 5px;
  text-align: center;
}

// responsive

@media screen and (max-width: 850px) {
  .containerData {
    flex-direction: column;
  }

  .dataDate,
  .dataPelanggan {
    width: 100%;
  }

  .tableContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
